.item{
    width: 400px ;
    height: 400px;
    background-color: rgb(235, 251, 11);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item h2{
    color: red;
    margin: 5px;
    padding: 5px; 

}

.item h3 {
    color: rgb(84, 13, 237);
    margin: 5px;
    padding: 5px;

}


.btn{
    background-color: black;
    color:white ;
    font-size: 15px;
    border-radius: 10px;
    height: 50pxpx;
    width: 150px;
}